pkgbase = libinput-xrandr-autorotate
	pkgdesc = Allows to rotate screen and touch input for 2-in-1 laptops
	pkgver = ${TAG}
	pkgrel = ${TAG_RELEASE}
	url = https://github.com/AnatolyRugalev/libinput-xrandr-autorotate
	arch = x86_64
	license = GPLv3
	depends = xorg-xinput
	source = https://github.com/AnatolyRugalev/libinput-xrandr-autorotate/releases/download/${TAG}/libinput-xrandr-autorotate_${TAG}_Linux_amd64.tar.gz
	sha256sums = ${SHA256SUM}

pkgname = libinput-xrandr-autorotate
